@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"),
    url(../fonts/woff2/Pretendard-Bold.woff2) format("woff2"),
    url(../fonts/woff/Pretendard-Bold.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"),
    url(../fonts/woff2/Pretendard-SemiBold.woff2) format("woff2"),
    url(../fonts/woff/Pretendard-SemiBold.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"),
    url(../fonts/woff2/Pretendard-Medium.woff2) format("woff2"),
    url(../fonts/woff/Pretendard-Medium.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"),
    url(../fonts/woff2/Pretendard-Regular.woff2) format("woff2"),
    url(../fonts/woff/Pretendard-Regular.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"),
    url(../fonts/woff2/Pretendard-Light.woff2) format("woff2"),
    url(../fonts/woff/Pretendard-Light.woff) format("woff");
}

/* reset */
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

:root {
  --color-theme: #016b4a;
  --color-theme-rgba: 1, 106, 73;
}
/* 이달의 테마 컬러 */
.text-color-theme {
  color: var(--color-theme);
}
.bg-color-theme {
  background-color: var(--color-theme);
}

html,
body {
  margin: 0px;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  /* overflow-x: hidden; */
}
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #2f2f2f;
  line-height: 1.5;
  font-size: 15px;
  box-sizing: border-box;

  -webkit-text-size-adjust: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
fieldset,
img,
button {
  border: 0;
}
img,
input,
button {
  vertical-align: middle;
}
img {
  border: none;
  -webkit-perspective: 1;
  /* width: 100%; */
  max-width: 100%;

  box-sizing: border-box;
}
table {
  border-collapse: collapse;
}
address,
em {
  font-style: normal;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
hr {
  display: none;
}
a {
  text-decoration: none;
  color: #444;
  cursor: pointer;
}
a:hover,
a:active {
  text-decoration: none;
  color: rgba(19, 78, 134, 0.8);
}
/* ul::after,
ol::after,
.clb::after {
  content: "";
  display: block;
} */

li,
dl {
  /* float: left; */
}
legend {
  position: absolute;
  left: -9999px;
  top: 0;
}
caption {
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}
button {
  background: none;
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
.screen_out {
  display: block;
  overflow: hidden;
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}
/* skip nav */
#skip_nav {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10000;
}
#skip_nav a {
  position: absolute;
  left: -10000em;
  top: 0;
  z-index: 10000;
  padding: 10px 20px;
  background: blue;
  font-family: LatoR;
  font-weight: bold;
  color: #fff;
}
#skip_nav a:focus {
  left: 0;
}
*:focus {
  outline: none;
}

@media all and (max-width: 1089px) {
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 18px;
  }
}

/* common style */
.m_auto {
  margin: 0 auto !important;
}
.m0 {
  margin: 0px !important;
}
/* margin top */
.mt0 {
  margin-top: 0px !important;
}
.mt2 {
  margin-top: 2px !important;
}
.mt3 {
  margin-top: 3px !important;
}
.mt4 {
  margin-top: 4px !important;
}
.mt5 {
  margin-top: 5px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mt25 {
  margin-top: 25px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mt45 {
  margin-top: 45px !important;
}
.mt50 {
  margin-top: 50px !important;
}
.mt60 {
  margin-top: 60px !important;
}
.mt70 {
  margin-top: 70px !important;
}
.mt80 {
  margin-top: 80px !important;
}
.mt100 {
  margin-top: 100px !important;
}
.mt120 {
  margin-top: 120px !important;
}
/* margin bottom */
.mb0 {
  margin-bottom: 0 !important;
}
.mb1 {
  margin-bottom: 1px !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb25 {
  margin-bottom: 25px !important;
}
.mb30 {
  margin-bottom: 35px !important;
}
.mb35 {
  margin-bottom: 30px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.mb50 {
  margin-bottom: 50px !important;
}
.mb60 {
  margin-bottom: 60px !important;
}
.mb70 {
  margin-bottom: 70px !important;
}
.mb80 {
  margin-bottom: 80px !important;
}
/* margin left */
.ml0 {
  margin-left: 0px !important;
}
.ml5 {
  margin-left: 5px !important;
}
.ml30 {
  margin-left: 30px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.ml15 {
  margin-left: 15px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.ml25 {
  margin-left: 25px !important;
}
.ml30 {
  margin-left: 30px !important;
}
.ml60 {
  margin-left: 60px !important;
}
/* margin right */
.mr0 {
  margin-right: 0px !important;
}
.mr5 {
  margin-right: 5px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.mr30 {
  margin-right: 30px !important;
}
.p10 {
  padding: 10px !important;
}
.plr {
  padding: 0 8px;
}
.p0 {
  padding: 0px !important;
}
.p5 {
  padding: 5px !important;
}
.pt0 {
  padding-top: 0px !important;
}
.pa0 {
  padding: 0px !important;
}
.pt5 {
  padding-top: 5px !important;
}
.pt10 {
  padding-top: 10px !important;
}
.pt15 {
  padding-top: 15px !important;
}
.pt20 {
  padding-top: 20px !important;
}
.pt30 {
  padding-top: 30px !important;
}
.pt40 {
  padding-top: 40px !important;
}
.pt50 {
  padding-top: 50px !important;
}
.pt60 {
  padding-top: 60px !important;
}
.pt70 {
  padding-top: 70px !important;
}
.pt80 {
  padding-top: 80px !important;
}
.pb0 {
  padding-bottom: 0 !important;
}
.pb5 {
  padding-bottom: 5px !important;
}
.pb10 {
  padding-bottom: 10px !important;
}
.pb15 {
  padding-bottom: 15px !important;
}
.pb20 {
  padding-bottom: 20px !important;
}
.pb30 {
  padding-bottom: 30px !important;
}
.pb40 {
  padding-bottom: 40px !important;
}
.pb45 {
  padding-bottom: 45px !important;
}
.pb50 {
  padding-bottom: 50px !important;
}
.pb70 {
  padding-bottom: 70px !important;
}
.pb80 {
  padding-bottom: 80px !important;
}
.pb100s {
  padding-bottom: 100px !important;
}
.pb100 {
  padding-bottom: 100px !important;
}
@media all and (max-width: 768px) {
  .pb100 {
    padding-bottom: 80px !important;
  }
}
.pb150 {
  padding-bottom: 150px !important;
}
.pb160 {
  padding-bottom: 160px !important;
}
.pl0 {
  padding-left: 0 !important;
}
.pl0 {
  padding-left: 0 !important;
}
.pl5 {
  padding-left: 5px !important;
}
.pl8 {
  padding-left: 8px !important;
}
.pl10 {
  padding-left: 10px !important;
}
.pl15 {
  padding-left: 15px !important;
}
.pl20 {
  padding-left: 20px !important;
}
.pl30 {
  padding-left: 30px !important;
}
.pl50 {
  padding-left: 50px !important;
}
.pl60 {
  padding-left: 60px !important;
}
.pl100 {
  padding-left: 100px !important;
}
.pl110 {
  padding-left: 110px !important;
}
.pl120 {
  padding-left: 120px !important;
}
.pl130 {
  padding-left: 130px !important;
}
.pl140 {
  padding-left: 140px !important;
}
.pl150 {
  padding-left: 150px !important;
}
.pl160 {
  padding-left: 160px !important;
}
.pl170 {
  padding-left: 170px !important;
}
.pl180 {
  padding-left: 180px !important;
}
.pl190 {
  padding-left: 190px !important;
}
.pl200 {
  padding-left: 200px !important;
}
.pl210 {
  padding-left: 210px !important;
}
.pl220 {
  padding-left: 220px !important;
}
.pl230 {
  padding-left: 230px !important;
}
.pl240 {
  padding-left: 240px !important;
}
.pl250 {
  padding-left: 250px !important;
}
.pl260 {
  padding-left: 260px !important;
}
.pl270 {
  padding-left: 270px !important;
}
.pl280 {
  padding-left: 280px !important;
}
.pl290 {
  padding-left: 290px !important;
}
.pl300 {
  padding-left: 300px !important;
}
.pl310 {
  padding-left: 310px !important;
}
.pl320 {
  padding-left: 320px !important;
}
.pl330 {
  padding-left: 330px !important;
}
.pl340 {
  padding-left: 340px !important;
}
.pl350 {
  padding-left: 350px !important;
}
.pl360 {
  padding-left: 360px !important;
}
.pl370 {
  padding-left: 370px !important;
}
.pl380 {
  padding-left: 380px !important;
}
.pl390 {
  padding-left: 390px !important;
}
.pl400 {
  padding-left: 400px !important;
}
.pl410 {
  padding-left: 410px !important;
}
.pl420 {
  padding-left: 420px !important;
}
.pl430 {
  padding-left: 430px !important;
}
.pl440 {
  padding-left: 440px !important;
}
.pl450 {
  padding-left: 450px !important;
}
.pl460 {
  padding-left: 460px !important;
}
.pl470 {
  padding-left: 470px !important;
}
.pl480 {
  padding-left: 480px !important;
}
.pl490 {
  padding-left: 490px !important;
}
.pl500 {
  padding-left: 500px !important;
}
.pr0 {
  padding-right: 0 !important;
}
.pr5 {
  padding-right: 5px !important;
}
.pr8 {
  padding-right: 8px !important;
}
.pr10 {
  padding-right: 10px !important;
}
.pr15 {
  padding-right: 15px !important;
}
.pr30 {
  padding-right: 30px !important;
}
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.border-line1 {
  height: 1px;
  line-height: 1px;
  background-color: #d9d9d9;
  display: block;
}
.border-line2 {
  height: 2px;
  line-height: 2px;
  background-color: #000;
  display: block;
}
.border-line3 {
  height: 1px;
  line-height: 1px;
  background-color: #c90646;
  display: block;
}
.line-spec1 {
  margin: 70px -60px 60px -60px;
}

.out-line1 {
  outline: 1px solid #d9d9d9;
}
.full-w100 {
  width: 100%;
}
.half-w50 {
  width: 50% !important;
}
.db {
  display: block;
}
.color-gray {
  color: #8b8b8b;
}
.flex-start {
  align-items: flex-start;
}

.h100 {
  height: 100%;
}

.word-break {
  word-break: break-all;
}

.underline {
  text-decoration: underline;
}
